body {
    /* fallback for old browsers */
    background: #0f0c29;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #24243e, #302b63 50%, #0f0c29 95%);
    background-attachment: fixed;
}

.margin-right {
    margin-right: 15px;
}

nav.background {
    background-color: #0f0c29;
}