body {
    /* fallback for old browsers */
    background: #0f0c29;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #24243e, #302b63 50%, #0f0c29 95%);
    background-attachment: fixed;
}

.margin-right {
    margin-right: 15px;
}

nav.background {
    background-color: #0f0c29;
}

.margin-bottom {
    margin-bottom: 50%;
}

.riquadroSensori {
    border: 2px solid black;
    background-color: #0f0c29;
    color: aliceblue;
    text-align: center;
}

.card {
    border: 1px solid #0f0c29;
    color: black;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-title {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.50rem;
}

.card-head {
    width: 22%;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    text-align: center;
    background-color: deepskyblue;
    border-radius: .25rem 0 0 .25rem;
}

@media (max-width: 768px) {
    .disable-left {
        left: 0;
    }
}