RewriteEngine on
RewriteRule ^$ /Agriculture_IoT/public/index.php [R]
RewriteRule ^[\w]$ /Agriculture_IoT/public/index.php [R]
RewriteRule ^admin/$ /Agriculture_IoT/admin/admin.php [R]
Options -Indexes